<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie List</title>
    </head>
    <body>
        <table>

            <thead>
                <tr>
                    <th>Film ID</th>
                    <th>Film Title</th>
                    <th>Film Description</th>
                    <th>Film Release Date</th>
                    <th>Film Rating</th>
                </tr>
            </thead>

            <tbody>
                {{#each film}} <!--binds to res.render("movielist", { film: rows }); -->
                    <tr>
                        <th>{{ this.film_id }}</th>
                        <th>{{ this.title }}</th>
                        <th>{{ this.description }}</th>
                        <th>{{ this.release_year }}</th>
                        <th>{{ this.rating }}</th>
                    </tr>
                {{/each}}
            </tbody>

        </table>
    </body>
</html>