<table>

    <tr>
        <td>Film ID: </td>
        <td>{{ detailsCtrl.movie.film_id }}</td>
    </tr>

    <tr>
        <td>Film Title: </td>
        <td>{{ detailsCtrl.movie.title }}</td>
    </tr>

    <tr>
        <td>Film Description: </td>
        <td>{{ detailsCtrl.movie.description }}</td>
    </tr>

    <tr>
        <td>Release Date: </td>
        <td>{{ detailsCtrl.movie.release_year }}</td>
    </tr>

    <tr>
        <td>Age Rating: </td>
        <td>{{ detailsCtrl.movie.rating }}</td>
    </tr>

</table>